body, figure, figcaption, h2, p, img {
    margin: 0;
    padding: 0;
}

figure {
    position: relative;
    width: 33.3%;
    height: 200px;
    overflow: hidden;
    float:left;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-family: '微软雅黑';
}